/* Copyright © 2025 jaymarnz, https://github.com/jaymarnz
   See LICENSE for details
*/

@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  html,
  body {
    color: var(--foreground);
    background: var(--background);
    font-weight: 300;
  }

  .image-sub-html {
    font-family: var(--font-app, Helvetica, Arial, sans-serif) !important;
    font-weight: 300;
  }

  img {
    object-fit: scale-down !important; /* ensure no images are upscaled */
  }

  /* eliminate the dark strip at the top of images that overlap with the toolbar
     not perfect for all images but I like it better than a dark strip along the sky 
  */
  .lg-toolbar { 
    background-image: none !important;
  }
}